html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background: #fff;
}

.root {
  position: relative;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.foreground {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  animation: intro;
  animation-duration: 500ms;
  animation-delay: 100ms;
  animation-fill-mode: forwards;
  bottom: -300px;
}

.speech {
  position: absolute;
  padding: 20px;
  background: #fff;
  border: 1px solid #c8c8c8;
  border-radius: 20px;
  bottom: -500px;
  right: -90px;
  animation: speech;
  animation-duration: 500ms;
  animation-delay: 1000ms;
  animation-fill-mode: forwards;
}
.speech::before {
  position: absolute;
  display: block;
  content: "";
  bottom: -9px;
  left: 10;
  width: 0;
  height: 0;
  border-left: 10px solid #c8c8c8;
  border-right: 10px solid transparent;
  border-top: 4px solid #c8c8c8;
  border-bottom: 4px solid transparent;
}

.jerry {
  position: relative;
}
.jerry .head {
  position: relative;
  width: 130px;
  height: 130px;
  background: #FFB482;
  border-radius: 30px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.jerry .head .forehead {
  position: absolute;
  width: 130px;
  height: 30px;
  background: #FFB482;
  border-top-left-radius: 60px;
  border-top-right-radius: 40px;
  top: -30px;
  transition-duration: 500ms;
  cursor: pointer;
  outline: none;
}
.jerry .head .forehead:hover, .jerry .head .forehead:focus {
  top: -300px;
  border: none;
}
.jerry .head .forehead .brain {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 130px;
  height: 300px;
  z-index: -1;
  background: #FF4833;
  border-top-left-radius: 60px;
  border-top-right-radius: 40px;
}
.jerry .head .forehead .brain > a {
  display: block;
  position: relative;
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  color: #fff;
}
.jerry .head .forehead .brain > * + * {
  margin-top: 2rem;
}
.jerry .head .forehead .hair {
  position: absolute;
  left: -5px;
  width: 120px;
  height: 50px;
  border-top-left-radius: 60px;
  border-bottom-right-radius: 80px;
  background: #000;
}
.jerry .head .forehead .hairpart {
  position: absolute;
  right: -5px;
  background: #000;
  width: 20px;
  height: 50px;
  border-top-right-radius: 100px;
  border-bottom-left-radius: 100px;
}
.jerry .head .eye {
  position: absolute;
  top: 40px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #000;
}
.jerry .head .eye--left {
  left: 50;
}
.jerry .head .eye--left::before {
  position: absolute;
  display: block;
  content: "";
  width: 20px;
  height: 5px;
  top: -10px;
  left: -5px;
  background: #000;
}
.jerry .head .eye--right {
  right: 20px;
}
.jerry .head .eye--right::before {
  position: absolute;
  display: block;
  content: "";
  width: 20px;
  height: 5px;
  top: -10px;
  left: -5px;
  background: #000;
}
.jerry .head .ear {
  position: absolute;
  background: #FFB482;
  width: 30px;
  height: 30px;
  top: 40px;
  left: -15px;
  border-radius: 50%;
}
.jerry .head .mouth {
  position: absolute;
  width: 60px;
  height: 10px;
  right: 17px;
  bottom: 30px;
  border: 3px solid #000;
  border-top: none;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}
.jerry .head .blocker {
  position: absolute;
  width: 150px;
  height: 100px;
  background: #fff;
  bottom: -30px;
  z-index: -1;
}
.jerry .head .neck {
  position: absolute;
  bottom: -30px;
  width: 80px;
  height: 60px;
  background: #FFB482;
}
.jerry .head .neck::before {
  display: "block";
  content: "";
  position: absolute;
  top: 30px;
  right: 0;
  width: 0;
  height: 0;
  border-left: 30px solid transparent;
  border-right: 30px solid rgba(0, 0, 0, 0.3);
  border-top: 4px solid rgba(0, 0, 0, 0.3);
  border-bottom: 4px solid transparent;
}

@keyframes intro {
  from {
    bottom: -200px;
  }
  to {
    bottom: 30px;
  }
}
@keyframes speech {
  from {
    bottom: -200px;
  }
  to {
    bottom: 170px;
  }
}

/*# sourceMappingURL=styles.css.map */
